
@use "sass:math";

.FN-content{
    // min-height: 1em;
    // background-color: red;
}


.block-language-contentIndex{
    margin-right: auto;
    width: fit-content;
    padding: 5px 15px;
    border-width: 2px;
    --HI-color: var(--h1-color);
    border-color: var(--HI-color);
    min-width: 9em;
    border-left-style: solid;
    background-color: var(--background-secondary);
    border-radius: 15px;

    @for $i from 1 through 6 {
        &[h-depth="#{$i}"]{
            --HI-color:var(--h#{$i}-color);;
        }
    }

    ol{
        

        @for $i from 1 through 6 {
            >.header-level\:#{$i}{
                font-size: #{20px - $i *2};
                >a{
                    color: var(--h#{$i}-color);
                }

                >ol{ //Trace parent header
                    border-left: {
                        //TODO: make it work with relative colors
                        /*color: rgba(from var(--h#{$i}-color) r g b 0.5);
                        width: 2px;
                        style: solid;*/
                        
                    }
                    border-bottom-left-radius: 0.5em; 
                }
            }
        }
        
        >li{
            margin-inline-start: 1.25em; //Do not indent too much
            &.no-indent{ //If it doesn't have
                margin-inline-start: 0;
            }
        }

        li.noMarker{
            &::marker{
                list-style: none;
                visibility: hidden;
                content:"";
                
                
            }
            >ol{
                padding-left: 0;
            }
        }

        &::before{

            content: none !important;
        }
    }
    
}
