.FN-link{
   min-width: fit-content;
    &:not([href]){
        color:var(--text-faint);
        pointer-events: none;
        text-decoration-line: line-through;
    }
    >.ellipsed{
        &::before{
            content: "...";
        }

    }
}

.FN-link.FN-gotoIndex{
	display: inline-block;
	width: 1em;
	
}

.isExpanded .FN-link>.ellipsed{
    &::before{
        content: none;
    }

    &::after{
        content: attr(data-text);
    }
}