.FN-link{
    min-width: fit-content;
    body.is-mobile &{
        font-size: 0.9em;
    }
    &:not([href]){
        color:var(--text-faint);
        pointer-events: none;
        text-decoration-line: line-through;
    }
    >.ellipsed{
        &::before{
            content: "...";
        }

    }
}

.FN-link.FN-gotoIndex{
	display: inline-block;
	width: 0.8em;
	stroke: 2px;
	fill: var(--background-primary);
	vertical-align: bottom;

}

.isExpanded .FN-link>.ellipsed{
    &::before{
        content: none;
    }

    &::after{
        content: attr(data-text);
    }
}