

.FN-nav{
    display: flex;
    justify-content: space-between;
    margin: 0.2em 1em;
    margin-bottom: 0;
}

.FN-nav>.FN-nav-button{
    text-decoration: none;
    color: var(--link-color);
    border: var(--link-color) 2px outset;
    box-sizing: border-box;
    width: 1.7em;
    height:1.7em;
    text-align: center;
    line-height: 1.7em;
    border-radius: 0.6em;
    font-size: large;
    font-weight: bold;
    background-color: var(--background-secondary);
}

.FN-nav>.disabled{
    filter: grayscale(90%);
}